footer
  .container
    .row
      .12u 
        .cell
          img(src="img/item1.jpg", alt="")
    .row
      .8u(class='12u(small)')
        .cell
          img(src="img/item2.jpg", alt="")
      .4u(class='12u(small)')
        .cell
          img(src="img/item3.jpg", alt="")
    .row.not-small
      .8u(class='12u(xsmall)')
       .row
        .6u(class='12u(small)')
          .cell
            img(src="img/item4.jpg", alt="")
        .6u(class='12u(small)')
          .cell
            img(src="img/item5.jpg", alt="")
      .4u(class='12u(xsmall)')
        .row
          .6u(class='12u(small)')
            .cell
              img(src="img/item6.jpg", alt="")
          .6u(class='12u(small)')
            .cell
              img(src="img/item7.jpg", alt="")
    .row.only-small
      .8u(class='12u(xsmall)')
        .cell
            img(src="img/item4.jpg", alt="")
      .4u(class='12u(xsmall)')
        .cell
              img(src="img/item6.jpg", alt="")
      .8u(class='12u(xsmall)')
        .cell
            img(src="img/item5.jpg", alt="")
      .4u(class='12u(xsmall)')
        .cell
              img(src="img/item7.jpg", alt="")
    .row
      .3u(class='6u(xsmall)')
        .cell
          img(src="img/item8.jpg", alt="")
      .3u(class='6u$(xsmall)')
        .cell
          img(src="img/item9.jpg", alt="")
      .3u(class='6u(xsmall)')
        .cell
          img(src="img/item8.jpg", alt="")
      .3u(class='6u$(xsmall)')
        .cell
          img(src="img/item9.jpg", alt="")